	
	
	<section class="wrapper-lg bg-highlight">
		<div class="container">
			<div class="row">
				<div class="col-md-1">
				  
				</div>
				<div class="col-md-10">
				  <!--Body content-->
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong> New Car </strong>
						</div>
						<div class="panel-body">
							<div class="col-md-7 col-md-offset-1">
								<!-- Form To Add New Order-->
								<form class="form-horizontal" role="form" ng-submit="newProduct(userForm.$valid)" name ="new_product">
									<div class="form-group">
										<div class="col-sm-7"> 
											<input type="text" class="form-control" id="car_name" placeholder="Car Name" name="car_name"  ng-model="product.product_name" 
										   ng-minlength="1" ng-maxlength="40" required>
										</div>
										   <label for="car_name">Car Name<span class="text-danger"> *</span></label>
									</div>	
									<div class="form-group">
										<div class="col-sm-7"> 
											<input type="text" class="form-control" id="brand_name" placeholder="Brand Name" name="brand_name"  ng-model="product.product_name" 
										   ng-minlength="1" ng-maxlength="40" required>
										</div>
										   <label for="brand_name">Brand Name<span class="text-danger"> *</span></label>
									</div>	
									
									<div class="form-group">
										<div class="col-sm-7"> 
											<input type="text" class="form-control" id="description" placeholder="Description" name="description"  ng-model="product.product_name" 
										   ng-minlength="1" ng-maxlength="40" required>
										</div>
										   <label for="description">Description<span class="text-danger"> *</span></label>
									</div>	
									
									<div class="form-group">
										<div class="col-sm-7"> 
											<input type="text" class="form-control" id="car_type" placeholder="Car Type" name="car_type"  ng-model="product.product_name" 
										   ng-minlength="1" ng-maxlength="40" required>
										</div>
										   <label for="car_type">Car Type<span class="text-danger"> *</span></label>
									</div>	
									
									<div class="form-group">
										<div class="col-sm-7"> 
											<input type="text" class="form-control" id="car_colour" placeholder="Car Colour" name="car_colour"  ng-model="product.product_name" 
										   ng-minlength="1" ng-maxlength="40" required>
										</div>
										   <label for="car_colour">Car Colour<span class="text-danger"> *</span></label>
									</div>	
									
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button id="submit" type="submit" class="btn btn-success" style="width:100px">Save</button>
											<input type = "button" data-ng-click="cancelCreate()" class="btn btn-warning" value="Cancel" style="width:100px"></input>
										</div>
									</div> 
								</form>
							</div>
						</div>                
					</div>  
				</div>
			</div>
		</div>
	</section>
	
	