<section class="wrapper-lg bg-info">
		<div class="container"><!-- 
			<h1 class="text-center"><i class="fa fa-bullhorn"></i> </h1> -->
			<hr>
			<br class="spacer-lg">
			<div class="row">
				<div class="col-sm-3">
				</div><!-- /.col -->
				<div class="col-sm-6">
					<h3>Book A car</h3>
					<form role="form" ng-submit="rentCars(userForm.$valid)" name ="new_car">
						
						<div class="form-group">
							
							<select name="car_list" class="form-control" id="car_list" required ng-model="rentCar.car_id" style="color:black;width:550px;">
							<option value=""> Choose Car </option>
								<option ng-repeat = "car in cars" value = "{{car.id}}">{{car.name}}</option>
								
							</select>
						</div>
						<div class="form-group">
							<label for="due_date">Due Date<span class="text-danger"> *</span></label>
							<input type="text" class="form-control input-lg datepicker" id="due_date" placeholder="Due Date" name="due_date"  ng-model="rentCar.due_date" 
							    required>
						</div>
						<div class="form-group">
							<label for="description">Amount<span class="text-danger"> *</span></label>
							<input type="text" class="form-control input-lg" id="amount" placeholder="Amount" name="amount"  ng-model="rentCar.amount" 
							   >
						</div>
						
						<button type="submit" class="btn btn-lg btn-success">Save</button>
					</form>
					<br class="spacer-md">
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
		<script>
	
  </script>
		
	</section>